.page-wrapper {
	background: $tweet-blue;
}
.search-form {
	width: 100%;
	height: 15rem;
	padding: .5rem;
	background: $tweet-blue;
	display: grid;
	grid-gap: 2%;
	grid-template-columns: repeat(7, 12.5%);
	grid-template-rows: repeat(4, 25%);
}

.search-input {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: center;
}
.from-date {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: left;
}
.to-date {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: left;
}

.case-sensitive {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: left;
	align-self: center;
}
.include-retweets {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: left;
	align-self: center;
}

.submit-button {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	justify-self: left;
}

.sort-button {
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 5;
	justify-self: right;
	align-self: end;
}

@media screen and (min-width: $min-width-tablet) {
	.search-form {
		height: 6rem;
	}
	.search-input {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		justify-self: left;
		align-self: flex-start;
	}

	.from-date {
		grid-column-start: 4;
		grid-column-end: 6;
		grid-row-start: 1;
		grid-row-end: 3;
		justify-self: right;
		align-self: flex-start;
	}
	.to-date {
		grid-column-start: 6;
		grid-column-end: 8;
		grid-row-start: 1;
		grid-row-end: 3;
		justify-self: right;
		align-self: flex-start;
	}

	.submit-button {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: right;
		align-self: flex-start;
	}

	.case-sensitive {
		grid-column-start: 4;
		grid-column-end: 6;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: left;
		align-self: end;
	}
	.include-retweets {
		grid-column-start: 6;
		grid-column-end: 8;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: center;
		align-self: end;
	}

	.sort-button {
		grid-column-start: 7;
		grid-column-end: 8;
		grid-row-start: 4;
		grid-row-end: 5;
		justify-self: right;
		align-self: end;
	}
}

@media screen and (min-width: $min-width-desktop) {
	.search-form {
		height: 6rem;
	}
	.search-input {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		justify-self: left;
		align-self: flex-start;
	}

	.from-date {
		grid-column-start: 4;
		grid-column-end: 6;
		grid-row-start: 1;
		grid-row-end: 3;
		justify-self: left;
		align-self: flex-start;
	}
	.to-date {
		grid-column-start: 6;
		grid-column-end: 8;
		grid-row-start: 1;
		grid-row-end: 3;
		justify-self: left;
		align-self: flex-start;
	}

	.submit-button {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: right;
		align-self: flex-start;
	}

	.case-sensitive {
		grid-column-start: 4;
		grid-column-end: 6;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: left;
		align-self: end;
	}
	.include-retweets {
		grid-column-start: 6;
		grid-column-end: 8;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: left;
		align-self: end;
	}

	.sort-button {
		grid-column-start: 7;
		grid-column-end: 8;
		grid-row-start: 4;
		grid-row-end: 5;
		justify-self: right;
		align-self: end;
	}
}
